<?xml version="1.0" encoding="UTF-8" ?>
<beans
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd "
    default-autowire="byName">


    <!-- 定义目标bean和bean中的方法 -->  
    <!--  查询用户信息放入redis  -->
    <bean id="queryUserInfoQtzJob" class="com.dc.city.quartz.QueryUserInfoQtzJob"></bean>  
   
    
    
   
    <!--  调度方法  -->  
    <!--  查询用户信息放入redis -->
    <bean id="queryUserInfoMethod" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
        <property name="targetObject">  
            <ref bean="queryUserInfoQtzJob"/>  
        </property>  
        <property name="targetMethod" value="queryUserInfo"/>
        <property name="concurrent" value="true"/>
    </bean> 
 
    
   
    <!--  调度触发器  -->  
    <!--  查询用户信息放入redis -->
    <bean id="queryUserInfoTriggerBean" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">    
       <property name="jobDetail">    
           <ref bean="queryUserInfoMethod"/>    
       </property>    
       <property name="startDelay">    
           <value>2000</value>    
       </property>    
       <property name="repeatInterval">    
           <value>0</value>    
      </property>    
      <property name="repeatCount">    
           <value>0</value>    
      </property>    
    </bean>  
 
   
    <!--  调度工厂  -->  
    <bean id="SpringJobSchedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"  autowire="no" lazy-init="false">  
        <property name="triggers">  
            <list>   
                <!--  查询用户信息放入redis -->
               <!--  <ref bean="queryUserInfoTriggerBean"/> -->
            </list>  
        </property>   
    </bean>   

</beans>